@font-face {
    font-family: "Lexend";
    font-weight: regular;
    src: font-url('Lexend-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "Baskervville";
    font-weight: regular;
    src: font-url('Baskervville-Regular.ttf') format('truetype');
  }
  
  html {
    font-family: "Lexend", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
  }